<h2>Complete todo los campos porfavor</h2>
<div class="container">

<mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input matInput placeholder="ID"[(ngModel)]="calificacion.id">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Calificado</mat-label>
    <input matInput placeholder="Calificado"[(ngModel)]="calificacion.calificado">
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
    <mat-label>IdTrainer</mat-label>
    <input matInput placeholder="IdTrainer"[(ngModel)]="calificacion.idTrainer">
</mat-form-field>

<br>

<button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
<button mat-raised-button color="warn" routerLink="/calificaciones">Cancelar</button>
<p>{{mensaje}}</p>
</div>
