<h1>Lista de Calificaciones de EnergyPassion</h1>
<app-calificacion-buscar></app-calificacion-buscar>
<table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
</ng-container>

<ng-container matColumnDef="calificado">
  <th mat-header-cell *matHeaderCellDef>calificado</th>
  <td mat-cell *matCellDef="let element">{{element?.calificado}}</td>

</ng-container>
<ng-container matColumnDef="idTrainer">
  <th mat-header-cell *matHeaderCellDef> idTrainer </th>
  <td mat-cell *matCellDef="let element"> {{element?.idTrainer}} </td>
</ng-container>



 <ng-container matColumnDef="Actualizar">
    <th mat-header-cell *matHeaderCellDef> Actualizar </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
        [routerLink]="['edicion', element?.id]">Actualizar</button>
    </td>
  </ng-container>

 <ng-container matColumnDef="Eliminar"> 
  <th mat-header-cell *matHeaderCellDef>Eliminar</th>
  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" 
    (click)="confirmar(element.id)">Eliminar</button>
  </td>
 </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<div class="example-button-container">
<button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
routerLink="/calificaciones/nuevo">
<mat-icon>plus_one</mat-icon>
</button>
</div>