<!-- CSS only
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<h1>Visualizar</h1>

<a href="page/propietario/propietario-listar/propietario-listar.component.html" ><button type="button"  class="btn btn-warning" onclick>Clientes</button></a>
<button type="button" class="btn btn-info">Trainers</button>

<app-propietario></app-propietario>
<app-trainer></app-trainer> -->
<app-home></app-home>
<app-cliente></app-cliente>
<app-footer></app-footer>
